// Colors
//
$theme: #018574;
$text: #e8eef2;
$light-grey: #000000;
$dark-grey: #3B3E48;
$highlight-grey: #7d828a;
$midnightblue: #2c3e50;

// Fonts
//

//@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';
//$font-family: "Atkinson Hyperlegible", sans-serif;

$fonts: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
$code-fonts: Consolas, "Andale Mono WT", "Andale Mono", Menlo, Monaco, "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, "YaHei Consolas Hybrid", monospace, "Segoe UI Emoji", "PingFang SC", "Microsoft YaHei";

// Mixins
//
@mixin dimmed {
  opacity: .6;
}

@mixin aTag {
  a {
    word-wrap: break-word;
    border: none;
    box-shadow: inset 0 -4px 0 $theme;
    transition-property: box-shadow;
    transition-duration: .1s;

    &:hover {
      box-shadow: inset 0 -1em 0 $theme;
    }
  }
}
